<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GolfMax"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.Front9Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlayRoundActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Activities.CourseLeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CourseListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewScoresActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>